<nav aria-label="nav">
  <ul class="pager">
    <li class="previous">
        <%= link_to(articles_path) do %>
            <span aria-hidden="true">&larr;</span> go back
        <% end %>
    </li>
  </ul>
</nav>