@import "bootstrap-sprockets";
@import "bootstrap";

/*Article cards*/
.thumbnail{
    min-height: 200px;
}
.text-card{
    height: 100px;
    overflow: hidden;
    word-break: keep-all;
}
.caption{
    overflow: hidden;
    word-break: keep-all;
}